*{color:white;
}textarea{
    width:50%;  
    height: 800px;
    color:black;
    
}
h3{
    color:red;
}

body{
    background: black;
}

p{
    color:white;
}
box{
   

    
}

.outputdata{
    position: absolute;
    width:40%;
    height: 800px;
      
    top: 10px;
    left: 55%;

     
}
